config SHIELD_FING_BOARD_LEFT
    def_bool $(shields_list_contains,fing_board_left)
config SHIELD_FING_BOARD_RIGHT
    def_bool $(shields_list_contains,fing_board_right)
config SHIELD_FING_BOARD_DONGLE
    def_bool $(shields_list_contains,fing_board_dongle)
